.table {
    border: 1px solid;
}
.table th, .table td {
    padding: 5px;
}
.table th {
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}
.cspect-panel-context .modx-formpanel-footer {
    padding: 15px 20px 15px 15px;
    border-top: 1px solid #FAFAFA;
}